* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Code Pro", monospace;
    background-color: #A6754B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100vw;
}

header {
    padding-bottom: 50px;
    color: #402116 ;
}



section {
    background-color: #03A678;
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#ano {
    font-family: "Source Code Pro", monospace;
    ;
    border-radius: 10px;
    outline: none;
    border-style: none;
    padding-left: 10px;
    text-align: center;

}

footer {
    padding-top: 50px;
}